
.menu_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo-branco);
    position: relative;
    
}


.menu_container{
   display: flex;
   align-items: center;
   gap: 10px;   
   padding: 1em 1.5em 1em 1.5em;
}

.menu_hamburguer{
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista_categorias{
    display: none;
    position: absolute;
    top: 100%;
    width: 75vw;
    background-color: var(--cor-fundo-branco);
}

.button_menu:checked ~ .lista_categorias{
    display: block;
}

.lista_categorias__titulo,
.lista_categorias__item{
    padding: 1em;
    
}

.lista_categorias__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
    font-family: var(--fonte-poppins);
}

.lista_categorias__item{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    font-family: var(--fonte-poppins);
    text-decoration: none;
}

