.contato{
    background-color: var(--cor-fundo-branco);
    padding: 1.5em 1em;
}

.contato_titulo,
.contato_text,
.contato_email{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 1em;
}

.contato_titulo{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.contato_text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.contato_email{
    border: 1px solid;
    border-radius: 24px;
    width: 90%;
    padding: .7em 1.5em;
}

.contato_email::placeholder{
    background: url("../assets/Email.svg") no-repeat;
    background-position: left;
    padding-left: 3em;
    font-size: var(--fonte-poppins);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-azul-escuro);
    
}

@media screen and (min-width: 1024px) {
    .contato{
        display: flex;
        justify-content: center;
    }

    .contato_titulo{
        font-size: 24px;
        line-height: 36px;
    }

    .contato_email{
        width: 30%;
    }

    
}