
.menu_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo-branco);
    position: relative;
    
}


.menu_container{
   display: flex;
   align-items: center;
   gap: 10px;   
   padding: 1em 1.5em 1em 1.5em;
}

.menu_hamburguer{
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista_categorias{
    display: none;
    position: absolute;
    top: 100%;
    width: 75vw;
    background-color: var(--cor-fundo-branco);
}

.button_menu:checked ~ .lista_categorias{
    display: block;
}

.lista_categorias__titulo,
.lista_categorias__item{
    padding: 1em;
    
}

.lista_categorias__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
    font-family: var(--fonte-poppins);
}

.lista_categorias__item{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    font-family: var(--fonte-poppins);
    text-decoration: none;
}

.menu_text,
.lista_menu_item,
.lista_menu_inputCheck{
    display: none;
}

@media screen and (min-width: 1024px){
      
    .menu_text_bold{
        font-family: var(--fonte-josefin);
        font-weight: 700;
        font-size: 30px;
    }

    .menu_text{
        font-family: var(--fonte-josefin);
        font-weight: 400;
        font-size: 30px;
        display: block;
        
    }

    .lista_menu{
        display: flex;  
        
    }

    .lista_menu_item{
        text-decoration: none;
        font-family: var(--fonte-poppins);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--cor-preta);
        padding-left: 1.5em;
        display: block;
    }

    .menu_hamburguer_hide,
    .menu_image_hide{
        display: none;
    }

    .lista_menu_inputCheck:checked ~ .lista_categorias{
        display: block;
        width: auto;
    }

    .lista_menu_inputCheck{
        display: none;
    }

   


}
