.topicos{
    background: var(--cor-azul-degrade);
    padding: 1.5em 0;
}

.topicos_titulo{
    color: var(--cor-fundo-branco);
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 1.5em;
}

.topicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
    
}

.topicos_item{ 
    background-color: var(--cor-laranja);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3em;
    padding: 1em 1.5em ;
    
}

.topicos_item a{
    text-decoration: none;
    color: var(--cor-fundo-branco);
}

@media screen and (min-width: 1024px) {
    .topicos_titulo{
        font-size: 24px;
        line-height: 36px;
    }

    .topicos_item{
        font-size: 24px;
    }

    .topicos_lista{
        align-items: stretch;
    }

    
}